{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Edit Contact' }} {{ contact.id|default('') }}
{% endblock %}

{% block body %}
    <h1>{{ 'Edit Contact' }} {{ contact.id|default('') }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('contact_edit', {id: contact.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'Save' }}" class="btn btn-primary" />
    </div>
    <div class="form-group row float-sm-left">
        <a href="{{ url('contact_index') }}" class="btn btn-link">
            {{ 'Back to list' }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
