{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Contact List' }}
{% endblock %}

{% block body %}
    <h1>{{ 'Contact List' }}</h1>
    <a href="{{ url('contact_create') }}" class="btn btn-primary">{{ 'Add New' }}</a>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'Name' }}</th>
                <th>{{ 'Surname' }}</th>
                <th>{{ 'Phone' }}</th>
                <th>{{ 'Address' }}</th>
                <th>{{ 'Created At' }}</th>
                <th>{{ 'Updated At' }}</th>
                <th>{{ 'Actions' }}</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in pagination.items %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.surname }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.address }}</td>
                    <td>{{ contact.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ contact.updatedAt|date('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ url('contact_show', {id: contact.id}) }}" class="btn btn-info">{{ 'View' }}</a>
                        <a href="{{ url('contact_edit', {id: contact.id}) }}" class="btn btn-warning">{{ 'Edit' }}</a>
                        <a href="{{ url('contact_delete', {id: contact.id}) }}" class="btn btn-danger">{{ 'Delete' }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'No contacts found.' }}</p>
    {% endif %}
{% endblock %}