{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.contact_details'|trans({'%id%': contact.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.contact_details'|trans({'%id%': contact.id|default('')}) }}</h1>
    <a href="{{ url('contact_edit', {id: contact.id}) }}" title="{{ 'action.edit'|trans }}">
        {{ 'action.edit'|trans }}
    </a>
    {% if contact is defined and contact %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ contact.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{ contact.name }}</dd>
            <dt>{{ 'label.surname'|trans }}</dt>
            <dd>{{ contact.surname }}</dd>
            <dt>{{ 'label.phone'|trans }}</dt>
            <dd>{{ contact.phone }}</dd>
            <dt>{{ 'label.address'|trans }}</dt>
            <dd>{{ contact.address }}</dd>
        </dl>
        <p>
            <a href="{{ url('contact_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
