{% extends 'base.html.twig' %}

{% block title %}
    {{ 'message.welcome'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'message.welcome'|trans }}</h1>
            <ul>
                <li><a href="{{ path('event_index') }}" class="btn btn-outline-primary">{{ 'event_index'|trans }}</a></li>
                <li><a href="{{ path('contact_index') }}" class="btn btn-outline-primary">{{ 'contact_index'|trans }}</a></li>
                <li><a href="{{ path('category_index') }}" class="btn btn-outline-primary">{{ 'category_index'|trans }}</a></li>
            </ul>
{% endblock %}
