{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Welcome to Personal Information Management Application'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="title_of_page">
            <h1>{{ 'Welcome to Personal Information Management Application'|trans }}</h1>
        </div>

        <div class="navigation">
            <ul>
                <li><a href="{{ path('event_index') }}" class="btn btn-outline-primary">{{ 'Events'|trans }}</a></li>
                <li><a href="{{ path('contact_index') }}" class="btn btn-outline-primary">{{ 'Contact'|trans }}</a></li>
                <li><a href="{{ path('category_index') }}" class="btn btn-outline-primary">{{ 'Categories'|trans }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
