{% extends 'base.html.twig' %}

{% block title %}
    Event List
{% endblock %}

{% block body %}
    <h1>Event List</h1>
    <div class="row mb-3">
        <div class="col">
            <a href="{{ path('event_create') }}" class="btn btn-primary">Add new</a>
        </div>
    </div>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'event.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created At', 'event.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Updated At', 'event.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title', 'event.title') }}</th>
                <th>Category</th>
                <th>{{ knp_pagination_sortable(pagination, 'Event Date', 'event.eventDate') }}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination.items %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.createdAt|date('Y/m/d') }}</td>
                    <td>{{ event.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ event.title }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ path('event_index', {'categoryId' : event.category.id}) }}" title="{{ event.category.title }}">
                            {{ event.category.title }}
                        </a>
                    </td>
                    <td>{{ event.eventDate|date('Y/m/d H:i') }}</td>
                    <td>
                        <a href="{{ path('event_show', {id: event.id}) }}" title="Show" class="btn btn-info">Show</a>
                        <a href="{{ path('event_edit', {id: event.id}) }}" title="Edit" class="btn btn-warning">Edit</a>
                        <a href="{{ path('event_delete', {id: event.id}) }}" title="Delete" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'No events found.'
        } %}
    {% endif %}
{% endblock %}