{# templates/event/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.event_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.event_list'|trans }}</h1>
    <div class="row mb-3">
        <div class="col">
            <a href="{{ url('event_create') }}" class="btn btn-primary">{{ 'action.add_new'|trans }}</a>
        </div>
    </div>
    <form method="get" action="{{ path('event_index') }}">
        <div class="row mb-3">
            <div class="col">
                <input type="date" name="dateFrom" value="{{ filters.dateFrom ? filters.dateFrom|date('Y-m-d') : '' }}" class="form-control" placeholder="From Date">
            </div>
            <div class="col">
                <input type="date" name="dateTo" value="{{ filters.dateTo ? filters.dateTo|date('Y-m-d') : '' }}" class="form-control" placeholder="To Date">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">{{ 'action.filter'|trans }}</button>
            </div>
        </div>
    </form>
    {% if pagination is defined and pagination.items|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'event.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'event.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.updated_at'|trans, 'event.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'event.title') }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.event_date'|trans, 'event.eventDate') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for event in pagination.items %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.createdAt|date('Y/m/d') }}</td>
                    <td>{{ event.updatedAt|date('Y/m/d') }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.category.title }}</td>
                    <td>{{ event.eventDate ? event.eventDate|date('Y/m/d H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('event_show', {'id': event.id}) }}" class="btn btn-sm btn-info">{{ 'action.show'|trans }}</a>
                        <a href="{{ path('event_edit', {'id': event.id}) }}" class="btn btn-sm btn-warning">{{ 'action.edit'|trans }}</a>
                        <a href="{{ path('event_delete', {'id': event.id}) }}" class="btn btn-sm btn-danger">{{ 'action.delete'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>{{ 'message.empty_list'|trans }}</p>
    {% endif %}
{% endblock %}
